[Unit]
Description=Gunicorn daemon for Bancos
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/vestuar/bancos
ExecStart=/var/www/vestuar/bancos/venv/bin/gunicorn -c gunicorn_config.py core.wsgi:application

[Install]
WantedBy=multi-user.target
