{% extends 'bancos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">{% if form.instance.pk %}Editar{% else %}Nova{% endif %} Conta Bancária</h2>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <a href="{% url 'banco_list' %}" class="btn btn-outline-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
